/* Light Mode: Default */
:root {
    // #region : Green (Brand)
    --color-green: #009b7c;
    --color-secondary-green: #1dc49d;
    --color-subtle-green: #77dcc4;
    --color-light-green: #d2f3eb;
    --color-pale-green: #e9faf6;
    // #endregion
    // #region : Blue (Informative)
    --color-blue: #0ca1d0;
    --color-secondary-blue: #0db1e5;
    --color-subtle-blue: #57c9ed;
    --color-light-blue: #b0e3f3;
    --color-pale-blue: #dff7ff;
    // #endregion
    // #region : Red (Alert)
    --color-red: #e35a3c;
    --color-secondary-red: #e58069;
    --color-subtle-red: #f39f8c;
    --color-light-red: #ffc8bb;
    --color-pale-red: #ffe3dd;
    // #endregion
    // #region : Orange (Brand/Waring)
    --color-orange: #f89d26;
    --color-secondary-orange: #f9cd92;
    --color-subtle-orange: #f5c480;
    --color-light-orange: #fdeedb;
    --color-pale-orange: #fff7ed;
    // #endregion
    // #region : Black/White
    --color-black: #2f2f2e; // Title - Focus
    --color-secondary-black: #6f6f6d; // Paragraph - Filled
    --color-subtle-black: #b1b1b1; // Information - Placeholder
    --color-light-black: #dddddd; // Border - Separator
    --color-pale-black: #f3f3f3; // Background
    --color-white: #ffffff;
    // #endregion
    // #region : Box shadow
    --box-shadow-black: rgba(0, 0, 0, 0.15);
    --box-shadow-green: rgba(42, 187, 152, 0.4);
    --box-shadow-10: 0px 4px 15px rgba(17, 18, 55, 0.4);
    // #endregion

    //NextGen
    --tp-ff-body: 'Roboto', sans-serif;
    --tp-ff-heading: 'Roboto', sans-serif;
    --tp-ff-p: 'Roboto', sans-serif;
    --tp-ff-fontawesome: 'Font Awesome 6 Pro';
    --tp-common-white: #fff;
    --tp-common-black: #031220;
    --tp-common-black-2: #120101;
    --tp-common-black-3: #0c140f;
    --tp-common-black-4: #000;
    --tp-common-black-5: #0e1133;
    --tp-common-green: #26c089;
    --tp-common-green-2: #3e8454;
    --tp-common-green-3: #27aa4d;
    --tp-common-green-4: #20ad96;
    --tp-common-blue: #4356ff;
    --tp-common-blue-2: #4270ff;
    --tp-common-blue-3: #3c66ed;
    --tp-common-blue-4: #3083ff;
    --tp-common-cream: #fff1e0;
    --tp-common-pink: #ff6470;
    --tp-common-pink-2: #fc4c56;
    --tp-common-orange: #f37f43;
    --tp-common-orange-2: #ee6002;
    --tp-common-orange-3: #ff9f4b;
    --tp-common-purple: #e33cff;
    --tp-common-purple-2: #e64dff;
    --tp-common-yellow: #f5b455;
    --tp-common-yellow-2: #f47f42;
    --tp-common-yellow-3: #f4930e;
    --tp-common-yellow-4: #ffaa2c;
    --tp-common-yellow-5: #ff8d00;
    --tp-common-violet: #6151fb;
    --tp-common-violet-2: #a794c8;
    --tp-header-primary: #031220;
    --tp-header-2: #120101;
    --tp-grey-1: #f1f1f1;
    --tp-grey-2: #f5f6f8;
    --tp-grey-3: #f8f8f8;
    --tp-grey-4: #f7f7f7;
    --tp-grey-5: #f5f5f5;
    --tp-grey-6: #dcdcdc;
    --tp-grey-7: #f9f9f9;
    --tp-grey-8: #f4fbf9;
    --tp-grey-9: #f0f8f7;
    --tp-grey-10: #f3f3f3;
    --tp-text-body: #49535b;
    --tp-text-1: #49535b;
    --tp-text-2: #555c63;
    --tp-text-3: #777a7c;
    --tp-text-4: #4b535a;
    --tp-text-5: #4a545c;
    --tp-text-6: #6f7377;
    --tp-text-7: #6b7882;
    --tp-text-8: #788086;
    --tp-text-9: #6b737a;
    --tp-text-10: #828282;
    --tp-text-11: #5f6160;
    --tp-text-12: #565958;
    --tp-text-13: #868d94;
    --tp-text-14: #56595c;
    --tp-text-15: #a1a2ab;
    --tp-theme-1: #01740d;
    --tp-theme-2: #47a009;
    --tp-theme-3: #cef600;
    --tp-border-1: #dedede;
    --tp-fw-normal: normal;
    --tp-fw-elight: 200;
    --tp-fw-light: 300;
    --tp-fw-regular: 400;
    --tp-fw-medium: 500;
    --tp-fw-sbold: 600;
    --tp-fw-bold: 700;
    --tp-fw-ebold: 800;
    --tp-fw-black: 900;
    --tp-fz-body: 14px;
    --tp-fz-p: 14px;
    --tp-fz-h1: 40px;
    --tp-fz-h2: 36px;
    --tp-fz-h3: 24px;
    --tp-fz-h4: 20px;
    --tp-fz-h5: 16px;
    --tp-fz-h6: 14px;
}

/* Dark Mode */
[data-theme='dark'] {
}
