.footer-top {
    .footer__widget {
        .footer__logo {
            width: 145px;
            img {
                height: 90px;
                width: auto;
                object-fit: cover;
            }
        }
        .footer__widget-content {
            p {
                margin-bottom: 10px;
                font-size: 14px;
                color: #49535b;
                line-height: 20px;
            }
        }
    }
    .footer-col-2-1 {
        padding-right: 115px;
    }
    .footer__social {
        h4 {
            color: #031220;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;

                a {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #fff;
                    text-align: center;
                    line-height: 40px;
                    color: #6b7882;
                    transition: all 0.3s ease-out 0s;
                    &:hover {
                        background-color: #01740d;
                        color: #fff;
                    }
                }
            }
            li:not(last-child) {
                margin-right: 7px;
            }
        }
    }
    .footer__widget {
        .footer__widget-title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 25px;
        }
        .footer__widget-content {
            ul {
                padding: 0;
                list-style: none;
                li {
                    margin-bottom: 12px;
                }
                a {
                    text-decoration: none;
                    color: #4f5364;
                }
            }
        }
        .footer__sub {
            p {
                font-size: 16px;
                font-weight: var(--tp-fw-normal);
                color: var(--tp-text-body);
                margin-bottom: 15px;
                line-height: 26px;
            }
            .form-error-msg {
                display: none;
            }
            .input-group {
                margin-bottom: 16px;
            }
            .btn-subscribe {
                // align-items: end;
                background-color: #01740d;
                color: #ffffff;
                font-family: Open Sans;
                font-size: 15px;
                font-weight: 500;
                line-height: 48px;
                padding: 0px 17px;
                text-align: center;
                border: none;
                float: right;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

.footer-bottom {
    .footer__bottom-inner {
        height: 70px;
        border-top: 1px solid #ccc;
    }
}
//Laptop and Des
@media (min-width: 1024px) {
}
//Tablet
@media (min-width: 740px) and (max-width: 1023px) {
}
//Mobile
@media (max-width: 740px) {
    .footer__widget-title {
        margin-top: 30px;
    }
}
