.swiper-wrapper {
    display: none;
    .evaluate__item {
        width: 372px;
        margin-right: 30px;
        padding: 40px 45px;
        border-radius: 10px;
        -webkit-box-shadow: 0 30px 40px rgba(3, 18, 32, 0.06);
        -ms-box-shadow: 0 30px 40px rgba(3, 18, 32, 0.06);
        -o-box-shadow: 0 30px 40px rgba(3, 18, 32, 0.06);
        box-shadow: 0 30px 40px rgba(3, 18, 32, 0.06);
        .evaluate__avatar {
            margin-bottom: 30px;
            img {
                width: 66px !important;
                height: 66px;
                display: inline-block !important;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .evaluate__text {
            h4 {
                font-size: 20px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
                line-height: 26px;
                color: #565958;
                margin-bottom: 20px;
            }
        }
        .evaluate__info {
            h3 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 0;
            }
            span {
                color: var(--tp-text-11);
            }
        }
    }
}
.swiper-pagination {
    height: 100px;
    max-width: 100%;
    margin: auto auto;
}
.swiper-button-next,
.swiper-button-prev {
    max-width: 12px;
    max-height: 12px;
    border-radius: 50%;
    background-color: var(--tp-theme-1);
}

//Laptop and Des
@media (min-width: 1024px) {
}
//Tablet
@media (min-width: 740px) and (max-width: 1023px) {
}
//Mobile
@media (max-width: 740px) {
}
