// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,700;1,800&display=swap" rel="stylesheet');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--color-white);
    font-family: 'Open Sans', 'Poppins', 'Montserrat', sans-serif;
    text-rendering: optimizeSpeed;

    max-width: 100vw;
    overflow-x: hidden;
    // color: var(--color-black);
}

a {
    text-decoration: none;
    // color: currentColor;
}

img {
    display: block;
    max-width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.pointer {
    cursor: pointer;
}
